body{
    font-family: 'Albert Sans', sans-serif;
    background-color: #fdfaf5 ;
}

h1 {
    font-family: 'Averia Libre', display;
    color: #D6B041;
}

.form {
    
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    padding : 3rem;
    margin : 1rem;
}

.input-group {
    gap: 1rem;
    border-radius: 10px;
}

.presentation {
    height : 5rem;
}

#buttonUp
{
    position: fixed;
    top: 90%;
    left: 98%;
    color: grey;
}

