{% extends 'main.html.twig' %}
{% block sub_body %}
<h1 class="text-center mb-5">Liste des expositions archivées</h1>


<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for archiveExhibition in archiveExhibitions %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{archiveExhibition.title}}</h5>
                <p class="card-text">{{ archiveExhibition.description}}</p>
                <a href="#" class="card-link btn">Card link</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}