{% extends 'main.html.twig' %}

{% block title %}Modifier une exposition{% endblock %}

{% block sub_body %}
    <h1 class="text-center">Modifier une exposition</h1>
    <span class = "text-danger">"Les champs suivis d'un * sont obligatoires"</span>
    
    {{ include('exhibition/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="d-flex justify-content-around">

    <a href="{{ path('app_exhibition_index') }}" class="btn btn-outline-primary">Retour à la liste des expositions</a>

    {{ include('exhibition/_delete_form.html.twig') }}
</div>
{% endblock %}
