{% extends 'main.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block sub_body %}


        <h1 class="text-center">Modifier un utilisateur</h1>
        <span class = "text-danger">"Les champs suivis d'un * sont obligatoires"</span>

        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="d-flex justify-content-around">

        <a href="{{ path('app_user_index') }}" class="btn btn-outline-primary">Retour à la liste des utilisateurs</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>

{% endblock %}
